{{!--
Partial : user/ edit user
--}}



<!---Sign in--->
<section>
    <h2>Modifier profil</h2>
    <div class="container">
        <form action="/user/?_method=PUT" method="post" enctype="multipart/form-data" class=" row g-3">

            <div class="row">
                <div class="mb-3">
                    <label for="formFile" class="form-label">Photo de Profil</label>
                    <input name="imguser" type="file" class="form-control" id="formFile">
                </div>
                <div class="col-md-6">
                    <label class="form-label">Prénom:</label>
                    <input name="firstname" type="text" class="form-control" value="...">
                </div>
                <div class="col-md-6">
                    <label class="form-label">Nom:</label>
                    <input name="name" type="text" class="form-control" value="...">
                </div>
            </div>
            <div class="col-12 d-grid gap-2 d-md-flex justify-content-md-center">
                <button type="submit" class="btn btn-contact">Modifier</button>
            </div>
        </form>
    </div>

    </form>
    </div>
</section>