{{!--
Partial : user/ Profil utilisateur
--}}

<section>
    <div class="container">
        <h2>Mon Profil</h2>
        <div class="row border border-5 border-success">
            <div class="col-md-2">
                <img class="img-fluid rounded-circle mx-auto d-block" src="/assets/images/logo.png">
            </div>
            <div class="col-md-10">
                <div class="col-md-12">
                    <h4>Nom d'utilisateur : </h4>
                </div>

                <div class="col-md-12">
                    <h4>Prénom:</h4>
                </div>
                <div class="col-md-12">
                    <h4>Nom:</h4>
                </div>
                <div class="col-md-12">
                    <h4>Adresse Email :</h4>
                </div>

            </div>

        </div>
</section>