{{!--
Page Erreur 404
/*
--}}

<div class="container">
    <div clas="row">
        <div class="col-md-12">
            <h2> Page Not Found</h2>
        </div>
    </div>
    <div class="row text-center">
        <div class="col-md-12">
            <img src="/assets/images/gif/sablier.gif" alt="paysage" class="present-img">
        </div>

        <div class="col-md-12">
            <div class="produits-plus">
                <div class="row">
                    <div class="col-md-12">
                        <h1>Désolé</h1>
                        <h3>Ah! il semblerait que la page que vous recherchez n'existe pas ou soit en-cours de création
                        </h3>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>