{{!--
Partial : contact/Présentation client
--}}


<!---Présentation--->
<section>
    <div class="container">
        <div clas="row">
            <div class="col-md-12">
                <h2> Qui sommes-nous ?</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-12">
                <img src="assets/images/logo.png" alt="paysage" class="present-img">
            </div>

            <div class="col-md-6">
                <div class="produits-plus">
                    <div class="row">
                        <div class="col-md-2">
                            <div class="produits-icon">
                                <i class="fas fa-comment-dots"></i>
                            </div>
                        </div>
                        <div class="col-md-10">
                            <h3>Nom Association </h3>
                            <p>Quam ob rem cave Catoni anteponas ne istum quidem ipsum, quem Apollo, ut ais,
                                sapientissimum iudicavit; huius enim facta, illius dicta laudantur. De me autem, ut
                                iam cum utroque vestrum loquar, sic habetote.

                                Batnae municipium in Anthemusia conditum Macedonum manu priscorum ab Euphrate
                                flumine brevi spatio disparatur, refertum mercatoribus opulentis, ubi annua
                                sollemnitate prope Septembris initium mensis ad nundinas magna promiscuae fortunae
                                convenit multitudo ad commercanda quae Indi mittunt et Seres aliaque plurima vehi
                                terra marique consueta.

                                Oportunum est, ut arbitror, explanare nunc causam, quae ad exitium praecipitem
                                Aginatium inpulit iam inde a priscis maioribus nobilem, ut locuta est pertinacior
                                fama. nec enim super hoc ulla documentorum rata est fides.</p>

                        </div>
                    </div>


                </div>

            </div>
        </div>
    </div>

</section>