<!--- bannière--->
    <section class="banniere">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2>La bannière</h2>
                    <h3>"Avec du temps et de la patience, on vient à bout de tout."</h3>
                </div>
            </div>
        </div>
    </section>