  <!--- Cards-->
    <section class="famille-cards" id="cards">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2> Actualités</h2>

                </div>

                <div class="col-md-4">
                    <div class="famille-details">
                        <img src="assets/images/paysage2.jpg" alt="paysage">
                        <h4>Première famille</h4>
                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Qui accusamus doloribus et
                            tempora
                            id voluptates dicta unde similique suscipit enim. Pariatur vero sunt et earum quod
                            laborum,
                            facilis eos quos.</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="famille-details">
                        <img src="assets/images/paysage4.jpg" alt="paysage">
                        <h4>Deuxième famille</h4>
                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Qui accusamus doloribus et
                            tempora
                            id voluptates dicta unde similique suscipit enim. Pariatur vero sunt et earum quod
                            laborum,
                            facilis eos quos.</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="famille-details">
                        <img src="assets/images/paysage3.jpg" alt="paysage">
                        <h4>Troisième famille</h4>
                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Qui accusamus doloribus et
                            tempora
                            id voluptates dicta unde similique suscipit enim. Pariatur vero sunt et earum quod
                            laborum,
                            facilis eos quos.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>