{{!--
Partial : blog/Cards
--}}
<!--- Cards--->
<section class="famille-prod" id="cards">
    <div class="container-fluid">
        <div class="row" id="listCard">

            {{#each dbBlog }}

            <div class="col-md-4">
                <div class="famille-details card">
                    <img class="card-img-top" src="{{this.img}}" alt="paysage">
                    <div class="card-body">
                        <h4 class="card-title">{{this.title}}</h4>
                        <p class="card-text">{{this.description}}</p>
                        <a href="blog-id" class="btn btn-ghost">Voir l'article</a>
                    </div>
                </div>
            </div>

            {{/each}}

        </div>
    </div>
</section>