<!--- Cards--->
<section class="famille-prod" id="cards">
    <div class="container-fluid">
        <div class="row">


            <div class="col-md-4">
                <div class="famille-details">
                    <img src="assets/images/paysage1.jpg" alt="paysage">
                    <h4>1er Article</h4>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Qui accusamus doloribus et
                        tempora
                        id voluptates dicta unde similique suscipit enim. Pariatur vero sunt et earum quod
                        laborum,
                        facilis eos quos.</p>
                    <a href="blog-id.html" class="btn btn-ghost">Voir l'article</a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="famille-details">
                    <img src="assets/images/paysage4.jpg" alt="paysage">
                    <h4>2ème Article</h4>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Qui accusamus doloribus et
                        tempora
                        id voluptates dicta unde similique suscipit enim. Pariatur vero sunt et earum quod
                        laborum,
                        facilis eos quos.</p>
                    <a href="blog-id.html" class="btn btn-ghost">Voir l'article</a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="famille-details">
                    <img src="assets/images/paysage3.jpg" alt="paysage">
                    <h4>3ème Article</h4>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Qui accusamus doloribus et
                        tempora
                        id voluptates dicta unde similique suscipit enim. Pariatur vero sunt et earum quod
                        laborum,
                        facilis eos quos.</p>
                    <a href="blog-id.html" class="btn btn-ghost">Voir l'article</a>
                </div>
            </div>


        </div>
        <div class="row">

            <div class="col-md-4">
                <div class="famille-details">
                    <img src="assets/images/paysage2.jpg" alt="paysage">
                    <h4>4ème Article</h4>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Qui accusamus doloribus et
                        tempora
                        id voluptates dicta unde similique suscipit enim. Pariatur vero sunt et earum quod
                        laborum,
                        facilis eos quos.</p>
                    <a href="Pages/blog-id.html" class="btn btn-ghost">Voir l'article</a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="famille-details">
                    <img src="assets/images/paysage4.jpg" alt="paysage">
                    <h4>5ème Article</h4>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Qui accusamus doloribus et
                        tempora
                        id voluptates dicta unde similique suscipit enim. Pariatur vero sunt et earum quod
                        laborum,
                        facilis eos quos.</p>
                    <a href="blog-id.html" class="btn btn-ghost">Voir l'article</a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="famille-details">
                    <img src="assets/images/paysage3.jpg" alt="paysage">
                    <h4>6ème Article</h4>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Qui accusamus doloribus et
                        tempora
                        id voluptates dicta unde similique suscipit enim. Pariatur vero sunt et earum quod
                        laborum,
                        facilis eos quos.</p>
                    <a href="blog-id.html" class="btn btn-ghost">Voir l'article</a>
                </div>
            </div>

        </div>
    </div>
</section>