{{!--
Partial : blog/Cards
--}}
<!--- Cards--->
<section class="famille-prod" id="cards">
    <div class="container-fluid">
        <div class="row">


            <div class="col-md-4">
                <div class="famille-details card">
                    <img class="card-img-top" src="assets/images/paysage1.jpg" alt="paysage">
                    <div class="card-body">
                        <h4 class="card-title">1er Article</h4>
                        <p class="card-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Qui accusamus
                            doloribus et
                            tempora
                            id voluptates dicta unde similique suscipit enim. Pariatur vero sunt et earum quod
                            laborum,
                            facilis eos quos.</p>
                        <a href="blog-id" class="btn btn-ghost">Voir l'article</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="famille-details card">
                    <img class="card-img-top" src="assets/images/paysage4.jpg" alt="paysage">
                    <div class="card-body">
                        <h4 class="card-title">2ème Article</h4>
                        <p class="card-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Qui accusamus
                            doloribus et
                            tempora
                            id voluptates dicta unde similique suscipit enim. Pariatur vero sunt et earum quod
                            laborum,
                            facilis eos quos.</p>
                        <a href="blog-id" class="btn btn-ghost">Voir l'article</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="famille-details card">
                    <img class="card-img-top" src="assets/images/paysage3.jpg" alt="paysage">
                    <div class="card-body">
                        <h4 class="card-title">3ème Article</h4>
                        <p class="card-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Qui accusamus
                            doloribus et
                            tempora
                            id voluptates dicta unde similique suscipit enim. Pariatur vero sunt et earum quod
                            laborum,
                            facilis eos quos.</p>
                        <a href="blog-id" class="btn btn-ghost">Voir l'article</a>
                    </div>
                </div>
            </div>


        </div>

        <div class="row">


            <div class="col-md-4">
                <div class="famille-details card">
                    <img class="card-img-top" src="assets/images/paysage1.jpg" alt="paysage">
                    <div class="card-body">
                        <h4 class="card-title">1er Article</h4>
                        <p class="card-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Qui accusamus
                            doloribus et
                            tempora
                            id voluptates dicta unde similique suscipit enim. Pariatur vero sunt et earum quod
                            laborum,
                            facilis eos quos.</p>
                        <a href="blog-id" class="btn btn-ghost">Voir l'article</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="famille-details card">
                    <img class="card-img-top" src="assets/images/paysage4.jpg" alt="paysage">
                    <div class="card-body">
                        <h4 class="card-title">2ème Article</h4>
                        <p class="card-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Qui accusamus
                            doloribus et
                            tempora
                            id voluptates dicta unde similique suscipit enim. Pariatur vero sunt et earum quod
                            laborum,
                            facilis eos quos.</p>
                        <a href="blog-id" class="btn btn-ghost">Voir l'article</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="famille-details card">
                    <img class="card-img-top" src="assets/images/paysage3.jpg" alt="paysage">
                    <div class="card-body">
                        <h4 class="card-title">3ème Article</h4>
                        <p class="card-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Qui accusamus
                            doloribus et
                            tempora
                            id voluptates dicta unde similique suscipit enim. Pariatur vero sunt et earum quod
                            laborum,
                            facilis eos quos.</p>
                        <a href="blog-id" class="btn btn-ghost">Voir l'article</a>
                    </div>
                </div>
            </div>


        </div>
        <div class="row">


            <div class="col-md-4">
                <div class="famille-details card">
                    <img class="card-img-top" src="assets/images/paysage1.jpg" alt="paysage">
                    <div class="card-body">
                        <h4 class="card-title">1er Article</h4>
                        <p class="card-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Qui accusamus
                            doloribus et
                            tempora
                            id voluptates dicta unde similique suscipit enim. Pariatur vero sunt et earum quod
                            laborum,
                            facilis eos quos.</p>
                        <a href="blog-id" class="btn btn-ghost">Voir l'article</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="famille-details card">
                    <img class="card-img-top" src="assets/images/paysage4.jpg" alt="paysage">
                    <div class="card-body">
                        <h4 class="card-title">2ème Article</h4>
                        <p class="card-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Qui accusamus
                            doloribus et
                            tempora
                            id voluptates dicta unde similique suscipit enim. Pariatur vero sunt et earum quod
                            laborum,
                            facilis eos quos.</p>
                        <a href="blog-id" class="btn btn-ghost">Voir l'article</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="famille-details card">
                    <img class="card-img-top" src="assets/images/paysage3.jpg" alt="paysage">
                    <div class="card-body">
                        <h4 class="card-title">3ème Article</h4>
                        <p class="card-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Qui accusamus
                            doloribus et
                            tempora
                            id voluptates dicta unde similique suscipit enim. Pariatur vero sunt et earum quod
                            laborum,
                            facilis eos quos.</p>
                        <a href="blog-id" class="btn btn-ghost">Voir l'article</a>
                    </div>
                </div>
            </div>


        </div>
    </div>
</section>