{{!-- 
    Partial : Home/Search-bar
 --}}
<!--- Search bar-->
<div class="container">
    <div class="search-bar">
        <form class="d-flex">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
    </div>
</div>