{{!--
Partial : Home/Search-bar
--}}
<!--- Search bar-->
<div class="container">
    <div class="search-bar">
        <form class="d-flex">
            <span class="input-group-text"><i class="fas fa-search"></i></span>
            <input class=" form-control me-2" type="text" id="inputFilter" onkeyup="monFiltre()" placeholder="Search"
                aria-label="Search" aria-describedby="addon-wrapping">
        </form>
    </div>
</div>