{{!--
Page: Admin, test
--}}


{{> header }}

<!-------------------Page Admin---------------------------------------------->
<main>
    <div class="col-md-12">
        <h2>Page Admin</h2>
    </div>

    <div class="container-fluid">
        <div class="accordion" id="accordionPanelsStayOpen">
            {{> Admin/gestuser }}

            {{> Admin/gestblog }}

            {{> Admin/gestcoms }}

            {{> Admin/gestpics }}
        </div>
    </div>

</main>