{{!--
Page: Admin, test
--}}


{{> header }}

<!-------------------Page Admin---------------------------------------------->
<main>
    <div class="col-md-12">
        <h2>Page Admin</h2>
    </div>
    <div class="col-md-12 text-center mx-auto p-2">
        <a class="text-success fw-bold fs-4" href="/messages"> Messages reçues <i class="fas fa-envelope"></i></a>
    </div>
    <div class="container-fluid">
        <div class="accordion" id="accordionPanelsStayOpen">
            {{> Admin/gestuser }}

            {{> Admin/gestblog }}

            {{> Admin/gestcoms }}

            {{> Admin/gestpics }}
        </div>
    </div>

</main>