@charset "UTF-8";

/*------------------------------Début Projet Arinfo---------------------*/
/* Theme
===================--------------=========*/
.bg-theme {
  background-color: #009b00;
}

.theme-com {
  background-image: linear-gradient(180deg, rgba(3, 71, 1, 0.6), rgba(54, 129, 39, 0.7), rgba(253, 208, 5, 0.432));
}

.theme-contact {
  background-image: linear-gradient(rgba(2, 165, 24, 0.5), rgba(170, 197, 170, 0.945));
}

/* Global
===================--------------=========*/
h1,
h2,
h3,
h4,
h5 {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: 300;
  word-spacing: 8px;
}

h1 {
  color: #9ae604;
}

h2 {
  color: black;
  font-size: 250%;
  text-align: center;
  margin-top: 35px;
  margin-bottom: 30px;
}

h2:after {
  display: block;
  height: 2px;
  background-color: #009b00;
  width: 100px;
  content: "";
  margin: 0 auto;
}

h3 {
  font-size: 160%;
  text-align: center;
}

h4 {
  font-size: 125%;
}

p {
  font-size: 15px;
  font-weight: 300;
  line-height: 24px;
  margin: 5px;
}

section {
  padding: 0px 0px 20px 0px;
}

/* Header 
============================*/
header {
  background-image: linear-gradient(90deg, rgba(3, 71, 1, 0.6), rgba(54, 129, 39, 0.7), rgba(253, 208, 5, 0.363)), url(1645779986902_mtfcolor1.webp);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  height: 70vh;
}

.home-title {
  position: absolute;
  top: 30%;
}

.home-title h1 {
  font-size: 340%;
}

.welcome {
  color: white;
  padding-bottom: 3px;
  padding-bottom: 3px;
  font-size: 30px;
  font-weight: 325;
  line-height: 20px;
}

/* Effet machine à écrire 
============================*/
.typewriter-container {
  display: flex;
  justify-content: flex-start;
}

.typewriter p {
  font-size: 20px;
  font-weight: lighter;
  overflow: hidden;
  white-space: nowrap;
  position: relative;
  animation: typing 7s steps(26);
  animation-iteration-count: infinite;
}

.typewriter p::after {
  content: "";
  position: absolute;
  display: block;
  height: 100%;
  width: 1px;
  background: #fff;
  right: 0;
  top: 0;
}

@keyframes typing {
  from {
    width: 0;
  }

  to {
    width: 100%;
  }
}

@keyframes cursor {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

/*  Boutons
============================*/
.btn {
  display: inline-block;
  padding: 10px 15px;
  text-decoration: none;
  border-radius: 10px;
  transition: background-color 1s, color 1s, border 1s;
}

.btn-full {
  background-color: azure;
  color: #00719e;
  margin-right: 15px;
}

.btn-full:hover {
  background-color: #00719e;
  color: #fff;
}

.btn-ghost {
  border: 1px solid black;
  color: green;
}

.btn-ghost:hover {
  background-color: #5ee077;
  border: 1px solid #5ee077;
  color: #fff;
}

.btn-contact {
  background-color: #2bcc03;
  color: #fff;
}

/* Search-Bar
============================*/
.search-bar {
  margin-top: 20px;
  margin-bottom: 20px;
}

/* ID
============================*/
.produits-plus {
  margin: 20px 0;
}

.produits-plus :hover .produits-icon {
  color: #009b00;
  transform: translateX(15px);
}

.produit-img {
  max-width: 100%;
  height: 60vh;
  border-radius: 10px;
}

.produits-icon {
  font-size: 34px;
  color: #009b00;
  transition: all 1s;
}

/* Logo présentation
============================*/
.present-img {
  max-width: 100%;
  height: 60vh;
}

/* Cards
============================*/
.famille-details {
  background-image: linear-gradient(180deg, rgba(6, 138, 1, 0.6), rgba(16, 167, 41, 0.4), rgba(253, 208, 5, 0.4));
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  padding: 40px 30px;
  border-radius: 10px;
  margin-bottom: 1em;
}

.famille-details:hover {
  transform: scale(1.06);
  transition: all 0.5s;
}

.user-details {
  color: white;
  background-image: linear-gradient(90deg, rgba(2, 0, 36, 0.6), rgba(173, 175, 164, 0.7), rgba(139, 134, 112, 0.671)), url(1645779986902_mtfcolor1.webp);
  background-size: cover;
  background-position: center;
  box-shadow: 0 0 5px;
}


/* Bannière
============================*/
.banniere {
  background-image: linear-gradient(90deg, rgba(2, 0, 36, 0.6), rgba(155, 187, 38, 0.7), rgba(253, 208, 5, 0.4)), url(1645779997960_mtfcolor2.webp);
  background-size: cover;
  background-position: 100%;
  background-attachment: fixed;
  min-height: 25vh;
  color: #fff;
}

/* Commentaires
============================*/
.client-profil {
  border: 2px solid #009b00;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  margin-bottom: 5px;
}

blockquote {
  line-height: 130%;
  font-style: italic;
  color: black;
  margin: 5px 0 5px 5px;
}

cite {
  margin-top: 5px;
  display: block;
  font-size: 100%;
}

cite img {
  height: 50px;
  margin: 0 5px 5px 5px;
}

.img-user {
  height: 50px;
}

.bg-com {
  margin-top: 20px;
  border: 2px solid #009b00;
  padding: 5px 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

/* Galerie 
============================*/
img[data-modal] {
  cursor: zoom-in;
}

.modals-content {
  z-index: -100;
  /* behind everything */
  opacity: 0;
  /* invisible */
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.8);
  /* black, transparent */
  width: 100vw;
  /* 100% width */
  height: 100vh;
  /* 100% height */
  display: flex;
  justify-content: center;
  /* horizontal align */
  align-items: center;
  /* vertical align */
  transition: 0.5s;
  /* animate */
  cursor: zoom-out;
}

.modals-content img {
  min-width: 50vw;
  /* at least 50% of the viewport width */
  height: auto;
}

.galeries-img {
  display: block;
  position: relative;
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
  height: 325px;
  width: auto;
  border-radius: 5px;
  margin-bottom: 15px;
}

.photospage {
  display: block;
  height: 325px;
  width: auto;
  border-radius: 5px;
  margin-bottom: 15px;
}

/* contact
============================*/
.contact-message {
  width: 100%;
}

.map {
  position: relative;
  padding-bottom: 75%;
  height: 0;
  overflow: hidden;
}

.map iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* Footer
============================*/
footer {
  background: #009b00;
  color: #fff;
}

.copyright {
  text-align: center;
  padding: 0;
  margin: 0;
}

.copyright a {
  color: #fff;
}

.socials {
  font-size: 25px;
}

@media (max-width: 1200px) {
  header {
    background-image: linear-gradient(90deg, rgba(3, 71, 1, 0.6), rgba(54, 129, 39, 0.7), rgba(253, 208, 5, 0.432)), url(mtfcolor1.jpg);
    background-position: 100% 100%;
    background-size: cover;
    height: 50vh;
  }

  .home-title {
    position: relative;
    top: 30%;
  }

  .banniere {
    background-image: linear-gradient(90deg, rgba(2, 0, 36, 0.6), rgba(155, 187, 38, 0.7), rgba(253, 208, 5, 0.4)), url(mtfcolor2.jpg);
    background-size: cover;
    background-position: 100% 100%;
    background-attachment: fixed;
    min-height: 15vh;
    color: #fff;
  }

  .galeries-img {
    max-width: 100%;
    height: 250px;
  }

  .photospage {
    height: 250px;
    max-width: 100%;
  }

  .modals-content {
    width: 100%;
  }
}

@media (max-width: 576px) {


  header {
    background-image: linear-gradient(90deg, rgba(3, 71, 1, 0.6), rgba(54, 129, 39, 0.7), rgba(253, 208, 5, 0.432)), url(mtfcolor1.jpg);
    background-position: 100% 100%;
    background-size: cover;
    height: 50vh;
  }

  .banniere {
    background-image: linear-gradient(90deg, rgba(2, 0, 36, 0.6), rgba(155, 187, 38, 0.7), rgba(253, 208, 5, 0.4)), url(mtfcolor2.jpg);
    background-size: cover;
    background-position: 100% 100%;
    background-attachment: fixed;
    height: 10vh;
    color: #fff;
  }

  .welcome {
    color: rgb(255, 255, 255);

    font-size: 15px;
    line-height: 20px;
  }

  .galeries-img {
    height: 200px;
  }

  .photospage {
    height: 200px;
  }

  .modal-content {
    width: 100%;
  }

  h1 {
    text-transform: none;
    letter-spacing: -1px;
    font-weight: 300;
    word-spacing: 4px;
  }

  .produit-img {
    width: 30vw;
    height: 30vh;
    border-radius: 10px;
  }
}

/*# sourceMappingURL=style.css.map */