{{!-- 
    Partial : galerie/pics
 --}}
<!-- Galerie photos--->
    <section class="container-fluid">

        <div class="row">
            <div class="col-md-12">
                <h2>Galeries Photos</h2>
            </div>
        </div>
        <!--- 1ère rangée--->
        <div class="row">
            <div class="col-md-4">
                <div class="galeries-img position-relative" style="background-image: url(assets/css/mtfcolor1.jpg);">
                    <div class="text-white">
                        <p class="fst-italic text-white position-absolute bottom-0 end-0"><i class="fas fa-camera"></i>
                            @Anonyme72</p>
                    </div>

                </div>
            </div>

            <div class="col-md-4">

                <div class="galeries-img position-relative" style="background-image: url(assets/css/mtfcolor2.jpg);">
                    <div class="text-white">
                        <p class="fst-italic text-white position-absolute bottom-0 end-0"><i class="fas fa-camera"></i>
                            @Anonyme72</p>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="galeries-img position-relative"
                    style="background-image: url(https://mediafiles.urlaubsguru.de/wp-content/uploads/2017/07/New-York-City-skyline-with-urban-skyscrapers-at-sunset.-shutterstock_147954134.jpg);">
                    <div class="text-white">
                        <p class="fst-italic text-white position-absolute bottom-0 end-0"><i class="fas fa-camera"></i>
                            @Anonyme72</p>
                    </div>
                </div>
            </div>

        </div>
        <!--- 2ème rangée--->
        <div class="row">
            <div class="col-md-4">
                <div class="galeries-img position-relative"
                    style="background-image: url(https://www.urlaubstracker.de/wp-content/uploads/2019/08/usa-new-york-von-oben-aussicht.jpg);">
                    <div class="text-white">
                        <p class="fst-italic text-white position-absolute bottom-0 end-0"><i class="fas fa-camera"></i>
                            @Anonyme72</p>
                    </div>

                </div>
            </div>

            <div class="col-md-4">
                <div class="galeries-img position-relative" style="background-image: url(assets/css/mtfcolor1.jpg);">
                    <div class="text-white">
                        <p class="fst-italic text-white position-absolute bottom-0 end-0"><i class="fas fa-camera"></i>
                            @Anonyme72</p>
                    </div>

                </div>
            </div>

            <div class="col-md-4">
                <div class="galeries-img position-relative"
                    style="background-image: url(https://reise-schreibmaschine.de/wp-content/uploads/2017/02/New-York-3-Tage-33.jpg);">
                    <div class="text-white">
                        <p class="fst-italic text-white position-absolute bottom-0 end-0"><i class="fas fa-camera"></i>
                            @Anonyme72</p>
                    </div>

                </div>
            </div>
        </div>

        <!--- 3ème rangée--->
        <div class="row">
            <div class="col-md-4">
                <div class="galeries-img position-relative"
                    style="background-image: url(https://wallup.net/wp-content/uploads/2017/03/29/496237-New_York_City-cityscape.jpg);">
                    <div class="text-white">
                        <p class="fst-italic text-white position-absolute bottom-0 end-0"><i class="fas fa-camera"></i>
                            @Anonyme72</p>
                    </div>

                </div>
            </div>

            <div class="col-md-4">
                <div class="galeries-img position-relative" style="background-image: url(assets/css/mtfcolor2.jpg);">
                    <div class="text-white">
                        <p class="fst-italic text-white position-absolute bottom-0 end-0"><i class="fas fa-camera"></i>
                            @Anonyme72</p>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="galeries-img position-relative" style="background-image: url(assets/css/mtfcolor1.jpg);">
                    <div class="text-white">
                        <p class="fst-italic text-white position-absolute bottom-0 end-0"><i class="fas fa-camera"></i>
                            @Anonyme72</p>
                    </div>
                </div>
            </div>

        </div>
        <!--- 4ème rangée--->
        <div class="row">
            <div class="col-md-4">
                <div class="galeries-img position-relative"
                    style="background-image: url(https://media.cntraveler.com/photos/6009c02c8ebb4b589a89b587/16:9/w_2560%2Cc_limit/NYCQuarantineHotels-2021-GettyImages-1190427876.jpg);">
                    <div class="text-white">
                        <p class="fst-italic text-white position-absolute bottom-0 end-0"><i class="fas fa-camera"></i>
                            @Anonyme72</p>
                    </div>

                </div>
            </div>

            <div class="col-md-4">
                <div class="galeries-img position-relative"
                    style="background-image: url(https://citytravel.com.gt/wp-content/uploads/2019/11/skyline-los-angeles.jpg);">
                    <div class="text-white">
                        <p class="fst-italic text-white position-absolute bottom-0 end-0"><i class="fas fa-camera"></i>
                            @Anonyme72</p>
                    </div>

                </div>
            </div>

            <div class="col-md-4">
                <div class="galeries-img position-relative" style="background-image: url(assets/images/creative1.jpg);">
                    <div class="text-white">
                        <p class="fst-italic text-white position-absolute bottom-0 end-0"><i class="fas fa-camera"></i>
                            @Anonyme72</p>
                    </div>

                </div>
            </div>
        </div>
    </section>
    
  