{{!--
Partial : galerie/pics
--}}
<!-- Galerie photos--->
<section class="container-fluid">

    <div class="row">
        <div class="col-md-12">
            <h2>Galeries Photos</h2>
        </div>
    </div>
    <!--- 1ère rangée--->
    <div class="row">
        <div class="col-md-4">
            <div class="galeries-img position-relative" style="background-image: url(assets/css/mtfcolor1.jpg);">
                <div class="text-white">
                    <p class="fst-italic text-white position-absolute bottom-0 end-0"><i class="fas fa-camera"></i>
                        @Anonyme72</p>
                </div>

            </div>
        </div>

        <div class="col-md-4">

            <div class="galeries-img position-relative" style="background-image: url(assets/css/mtfcolor2.jpg);">
                <div class="text-white">
                    <p class="fst-italic text-white position-absolute bottom-0 end-0"><i class="fas fa-camera"></i>
                        @Anonyme72</p>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="galeries-img position-relative" style="background-image: url(assets/images/creative1.jpg);">
                <div class="text-white">
                    <p class="fst-italic text-white position-absolute bottom-0 end-0"><i class="fas fa-camera"></i>
                        @Anonyme72</p>
                </div>
            </div>
        </div>

    </div>
    <!--- 2ème rangée--->
    <div class="row">
        <div class="col-md-4">
            <div class="galeries-img position-relative" style="background-image: url(assets/images/creative2.jpg);">
                <div class="text-white">
                    <p class="fst-italic text-white position-absolute bottom-0 end-0"><i class="fas fa-camera"></i>
                        @Anonyme72</p>
                </div>

            </div>
        </div>

        <div class="col-md-4">
            <div class="galeries-img position-relative" style="background-image: url(assets/css/mtfcolor1.jpg);">
                <div class="text-white">
                    <p class="fst-italic text-white position-absolute bottom-0 end-0"><i class="fas fa-camera"></i>
                        @Anonyme72</p>
                </div>

            </div>
        </div>

        <div class="col-md-4">
            <div class="galeries-img position-relative" style="background-image: url(assets/images/creative3.jpg);">
                <div class="text-white">
                    <p class="fst-italic text-white position-absolute bottom-0 end-0"><i class="fas fa-camera"></i>
                        @Anonyme72</p>
                </div>

            </div>
        </div>
    </div>

    <!--- 3ème rangée--->
    <div class="row">
        <div class="col-md-4">
            <div class="galeries-img position-relative" style="background-image: url(assets/images/creative4.jpg);">
                <div class="text-white">
                    <p class="fst-italic text-white position-absolute bottom-0 end-0"><i class="fas fa-camera"></i>
                        @Anonyme72</p>
                </div>

            </div>
        </div>

        <div class="col-md-4">
            <div class="galeries-img position-relative" style="background-image: url(assets/css/mtfcolor2.jpg);">
                <div class="text-white">
                    <p class="fst-italic text-white position-absolute bottom-0 end-0"><i class="fas fa-camera"></i>
                        @Anonyme72</p>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="galeries-img position-relative" style="background-image: url(assets/css/mtfcolor1.jpg);">
                <div class="text-white">
                    <p class="fst-italic text-white position-absolute bottom-0 end-0"><i class="fas fa-camera"></i>
                        @Anonyme72</p>
                </div>
            </div>
        </div>

    </div>
    <!--- 4ème rangée--->
    <div class="row">
        <div class="col-md-4">
            <div class="galeries-img position-relative" style="background-image: url(assets/images/creative3.jpg);">
                <div class="text-white">
                    <p class="fst-italic text-white position-absolute bottom-0 end-0"><i class="fas fa-camera"></i>
                        @Anonyme72</p>
                </div>

            </div>
        </div>

        <div class="col-md-4">
            <div class="galeries-img position-relative" style="background-image: url(assets/images/creative2.jpg);">
                <div class="text-white">
                    <p class="fst-italic text-white position-absolute bottom-0 end-0"><i class="fas fa-camera"></i>
                        @Anonyme72</p>
                </div>

            </div>
        </div>

        <div class="col-md-4">
            <div class="galeries-img position-relative" style="background-image: url(assets/images/creative1.jpg);">
                <div class="text-white">
                    <p class="fst-italic text-white position-absolute bottom-0 end-0"><i class="fas fa-camera"></i>
                        @Anonyme72</p>
                </div>

            </div>
        </div>
    </div>
</section>