{{!--
Partial : galerie/pics
--}}
<!-- Galerie photos--->
<section class="container">

    <div class="row">
        <div class="col-md-12">
            <h2>Galeries Photos</h2>
        </div>
    </div>

    <div class="row">
        {{#each dbpics }}
        <!-- Trigger the Modal -->
        <img class="photospage" src="/assets/data/photos/{{this.photo}}" data-modal alt="{{ this.authorname }}">

        {{/each}}
    </div>


</section>