{{!--
Partial : galerie/pics
--}}
<!-- Galerie photos--->
<section class="container">

    <div class="row">
        <div class="col-md-12">
            <h2>Galeries Photos</h2>
        </div>
    </div>
    <!--- 1ère rangée--->
    <div class="row">
        {{#each dbpics }}
        <div class="col-md-4">
            <div class="galeries-img position-relative" style="background-image: url(/assets/data/{{ this.photo }});">
                <div class="text-white">
                    <p class="fst-italic text-white position-absolute bottom-0 end-0"><i class="fas fa-camera"></i>
                        {{ this.authorname }}</p>
                </div>
            </div>
        </div>
        {{/each}}


    </div>
</section>