{{!--
Partial : navabar
--}}

<!---Navbar--->
<nav class="navbar navbar-expand-lg navbar-dark bg-theme">
    <div class="container">

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggler"
            aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="/"><img src="/assets/images/logo2.png" alt="" width="40" height="35"> Graines
            de
            Citoyen Montgesnois</a>
        <div class="collapse navbar-collapse" id="navbarToggler">

            <ul class="navbar-nav me-auto mb-2mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="/">Accueil</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/blog">Blog</a>
                </li>
                {{#if user}}
                <li class="nav-item">
                    <a class="nav-link" href="/pics">Photos</a>
                </li>
                {{/if}}
                <li class="nav-item">
                    <a class="nav-link" href="/contact">Nous contacter</a>
                </li>
                {{#if isAdmin }}
                <li class="nav-item">
                    <a class="nav-link" href="/admin">Admin</a>
                </li>
                {{/if }}
            </ul>

            <!---Modal "se connecter"--->
            <!-- Button modal -->



            {{#if user }}
            <a class="btn btn-full" href="/user">Profil</a>

            <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#disconnect">
                <i class="fas fa-power-off"></i>
            </button>
            <!--  Modal disconnect -->
            {{> modals/modalLogout }}

            {{ else }}
            <button type="button" class="btn btn-full" data-bs-toggle="modal" data-bs-target="#connectModal">
                Se connecter/S'inscrire
            </button>

            <!-- 2 Modal lost password -->
            {{> modals/modalLostpass }}
            <!--  Modal connect -->
            {{> modals/modalLogin }}

            {{/if }}


        </div>
    </div>

</nav>