{{!--
Partial : Id/Commentaires
--}}
<!---Commentaires-->
<section class="theme-com">
    <div class="container">

        <div class="col-md-12">
            <h2>Comments</h2>
        </div>

        {{#each dbcommentaires }}

        <div class="col-md-12">
            <div class="client-profil position-relative">
                <cite> <img src="/assets/images/julia.jpg"> {{ this.pseudouser }}</cite>
                <!---<button type="button" class=" btn like position-absolute top-0 end-0 like"><i class="fas fa-heart">
                        1</i> </button> --->
                <blockquote>
                    {{ this.content }}
                </blockquote>
            </div>


        </div>

        {{/each}}

        {{> blogid/coms/addcoms }}

    </div>
</section>