{{!--
Partial : Id/Commentaires
--}}
<!---Commentaires-->
<section class="theme-com">
    <div class="container">

        <div class="col-md-12">
            <h2>Commentaires</h2>
        </div>

        {{#each dbcommentaires }}

        <div class="col-md-12">
            <div class="client-profil position-relative">
                <cite> <img src="/assets/data/users/{{ this.imguser }}">
                    {{ this.pseudouser}}</cite>
                <blockquote>
                    {{ this.content }}
                </blockquote>
                <p class="text-muted">Posté le {{{formatDate datecom "DD MMMM YYYY à HH:mm"}}} </p>
            </div>


        </div>

        {{/each}}

        {{> blogid/coms/addcoms }}

    </div>
</section>