{{!--
Modal / Admin : Unban user
--}}

<!------------------------- Modal suppr photos ------------------------->

<div class="modal fade" id="UnBanUser{{ this.id }}" tabindex="-1" aria-labelledby="ModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <h5 class="modal-title" id="ModalLabel">Bannir Utilisateur
                </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Voulez-vous vraiment dé-BANNIR cet utilisateur?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>

                <form action="/unban/{{ this.id }}/?_method=PUT" method="post">
                    <button type="submit" class="btn btn-danger">Confirmer
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>