{{!--
Modal / navbar : Log in
--}}


<div class="modal fade" id="connectModal" tabindex="-1" aria-labelledby="ModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="ModalLabel">Se connecter/S'inscrire</h5>
                <button type="submit" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form action="/login" method="post">
                    <div class="container">
                        <div class="mb-3">
                            <label for="loginEmail" class="form-label">Adresse Mail</label>
                            <input name="email" type="email" class="form-control" id="loginEmail"
                                aria-describedby="emailHelp">
                        </div>
                        <div class="mb-3">
                            <label for="Password" class="form-label">Mot de passe</label>
                            <input name="password" type="password" class="form-control" id="Password">
                        </div>

                        <a data-bs-toggle="modal" href="#lostpassword" role="button">Mot de passe
                            oublié</a><br>
                        <button type="submit" class="btn btn-contact">Se connecter</button>
                        <a href="register" class="btn btn-ghost">Nouvel Utilisateur</a>
                    </div>
                </form>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>

            </div>
        </div>
    </div>
</div>