{{!--
Modal / Admin : Suppr coms
--}}

<!------------------------- Modal suppr coms ------------------------->
<div class="modal fade" id="MessModal" tabindex="-1" aria-labelledby="ModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="ModalLabel">Supprimer contenu
                </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Voulez-vous vraiment supprimer ce contenu?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <form  action="/admin/?_method=DELETE" method="post"><button name="DeleteCom?" type="submit" class="btn btn-danger">Delete
                    </button> </form>
            </div>
        </div>
    </div>
</div>