{{!-- 
    Partial : Id/Id product/article
 --}}
<!---Id-->
<section id="idcards">
    <div class="container">
        <div clas="row">
            <div class="col-md-12">
                <h2> Titre Article</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-7">
                <img src="assets/images/paysage2.jpg" alt="paysage" class="produit-img">
            </div>

            <div class="col-md-5">
                <!--- Para 1-->
                <div class="produits-plus">
                    <div class="row">
                        <div class="col-md-2">
                            <div class="produits-icon">
                                <i class="far fa-check-circle"></i>
                            </div>
                        </div>
                        <div class="col-md-10">
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit illo quaerat
                                perferendis dolor voluptatem iusto quidem dolorum repudiandae possimus
                                repellendus,
                                odio tempore ex alias. Asperiores recusandae saepe voluptates quae possimus.</p>
                        </div>
                    </div>


                </div>
                <!--- para 2-->
                <div class="produits-plus">
                    <div class="row">
                        <div class="col-md-2">
                            <div class="produits-icon">
                                <i class="fab fa-readme"></i>
                            </div>
                        </div>
                        <div class="col-md-10">
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit illo quaerat
                                perferendis dolor voluptatem iusto quidem dolorum repudiandae possimus
                                repellendus,
                                odio tempore ex alias. Asperiores recusandae saepe voluptates quae possimus.</p>
                        </div>
                    </div>


                </div>
                <!--- Para 3-->
                <div class="produits-plus">
                    <div class="row">
                        <div class="col-md-2">
                            <div class="produits-icon">
                                <i class="fas fa-award"></i>
                            </div>
                        </div>
                        <div class="col-md-10">
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit illo quaerat
                                perferendis dolor voluptatem iusto quidem dolorum repudiandae possimus
                                repellendus,
                                odio tempore ex alias. Asperiores recusandae saepe voluptates quae possimus.</p>
                        </div>
                    </div>


                </div>

            </div>

        </div>
    </div>
</section>