{{!--
Partial : register/ New user
--}}



<!---Sign in--->
<section>
    <h2>S'inscrire</h2>
    <div class="container">
        <form action="/register" method="post" enctype="multipart/form-data" class=" row g-3">

            <div class="row">
                <div class="mb-3">
                    <label for="formFile" class="form-label">Photo de Profil</label>
                    <input name="ImgMulter" type="file" class="form-control" id="formFile">
                </div>
                <div class="col-md-12">
                    <label class="form-label">Nom d'utilisateur:</label>
                    <div class="input-group">
                        <span class="input-group-text">@</span>
                        <input name="pseudo" type="text" class="form-control" aria-describedby="inputGroupPrepend">
                    </div>
                </div>

                <div class="col-md-6">
                    <label class="form-label">Prénom:</label>
                    <input name="firstname" type="text" class="form-control" value="...">
                </div>
                <div class="col-md-6">
                    <label class="form-label">Nom:</label>
                    <input name="name" type="text" class="form-control" value="...">
                </div>
                <div class="col-md-12">
                    <label class="form-label">Adresse Email :</label>
                    <input name="email" type="email" class="form-control" placeholder="name@example.com">
                </div>
                <div class="col-md-6">
                    <label for="Password" class="form-label">Mot de passe</label>
                    <input name="password" type="password" class="form-control" id="Password">
                </div>
                <div class="col-md-6">
                    <label for="Password" class="form-label">Confirmer mot de passe :</label>
                    <input name="password" type="password" class="form-control" id="Password">
                </div>



            </div>
            <div class="col-12">
                <div class="form-check">
                    <input name="Terms" class="form-check-input" type="checkbox" id="invalidCheck" required>
                    <label class="form-check-label" for="invalidCheck">
                        Agree to terms and conditions
                    </label>

                </div>
            </div>
            <div class="col-12 d-grid gap-2 d-md-flex justify-content-md-center">
                <button type="submit" class="btn btn-contact">S'inscrire</button>
            </div>
        </form>
    </div>

    </form>
    </div>
</section>