{{!--
Partial : Admin/ Gestion utilisateurs
--}}

<!---=======Gest User========-->
<div class="accordion-item">
    <p class="accordion-header" id="panelsStayOpen-headingOne">
        <button class="accordion-button" type="button" data-bs-toggle="collapse"
            data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true"
            aria-controls="panelsStayOpen-collapseOne">
            Gestion Utilisateurs
        </button>
    </p>
    <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show"
        aria-labelledby="panelsStayOpen-headingOne">
        <div class="accordion-body table-responsive">
            <!-- Button trigger modal Gestin users -->


            <table class="table table-borderless table-secondary container">
                <thead>
                    <tr>
                        <th scope="col-xs-4">Image de Profil</th>
                        <th scope="col-xs-2">User Name</th>
                        <th scope="col-xs-2">Name</th>
                        <th scope="col-xs-2">First Name</th>
                        <th scope="col-xs-2">Email</th>
                        <th scope="col-xs-2">Gérer profil</th>


                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th><img class="img-user" src="/assets/images/julia.jpg"> </th>
                        <td>user name</td>
                        <td>Name</td>
                        <td>First Name</td>
                        <td>@mail.com</td>
                        <td scope="col-xs-2"><button type="button" class="btn" data-bs-toggle="modal"
                                data-bs-target="#GestModal">
                                <i class="fas fa-tools"></i></i></button></td>
                    </tr>
                    <tr>
                        {{#each dbuser }}
                        <th><img class="img-user" src="/assets/images/emilie.jpg"> </th>
                        <td>{{ this.pseudo }}</td>
                        <td>{{ this.firstname }}</td>
                        <td>{{ this.name }}</td>
                        <td>{{ this.email }}</td>
                        {{/each}}
                    </tr>


                </tbody>
            </table>
        </div>
    </div>

    {{> modals/modalgestuser }}


</div>